:host {
    height: 100%;
    width: 100%;
}
.menu-item {
    margin-right: 10px;
    padding: 0 5px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}
.menu-item.active {
    background: #fff;
    color: #000;
    outline: none !important;
    cursor: default;
}
