<form class="d-flex flex-column" novalidate [formGroup]="userFormGroup">
  <div class="d-flex">
    <div class="d-flex flex-column flex-fill mr-2">
      <div class="d-flex flex-column">
        <label for="userId">User ID</label>
        <input type="text" class="form-control form-control-sm" formControlName="userId" id="userId">
      </div>
    </div>
    <div class="d-flex flex-column flex-fill">
      <div class="d-flex align-items-end flex-fill mt-3">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="isActive">
          <label class="form-check-label" for="isActive">Is Active</label>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex mt-4">
    <div class="d-flex flex-column flex-fill mr-2">
      <label for="name">First Name</label>
      <input type="text" class="form-control form-control-sm" formControlName="firstName" id="firstName">
    </div>
    <div class="d-flex flex-column flex-fill">
      <label for="name">Last Name</label>
      <input type="text" class="form-control form-control-sm" formControlName="lastName" id="lastName">
    </div>
  </div>
  <div class="d-flex mt-4">
    <div class="d-flex flex-fill flex-column mr-2">
      <div class="d-flex text-white bg-dark p-1">
        <h5 class="flex-fill">Roles</h5>
        <div class="flex-fill">
          <avam-dd-suggest (itemSelected)="onRoleSelected($event)" [searchAndFilter]="onSearch.bind(this)"></avam-dd-suggest>
        </div>

      </div>
      <p-treeTable [value]="nodes">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Is Active</th>
            <th>Is Admin</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr>
            <td>
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{rowData.name}}
            </td>
            <td>{{rowData.isActive}}</td>
            <td>{{rowData.isAdmin}}</td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </div>
  <div class="text-right mt-3">
    <div class="btn-group" role="group">
      <button class="btn btn-sm btn-outline-danger" (click)="userSavedOrClosed.next()"> Cancel</button>
      <button class="btn btn-sm btn-outline-primary" (click)="saveUser($event)">Save</button>
    </div>
  </div>
</form>

<ng-template #searchItemTemplate let-item="item">
  <div class="d-flex flex-fill">
    <div class="flex-fill">{{item.id}}</div>
    <div class="flex-fill">{{item.name}}</div>
  </div>
</ng-template>
